
:root {
    --bg-dark-primary: #222831;   
    --bg-dark-secondary: #393e46; 
    --accent-color: #00ADB5;     
    --text-light: #EEEEEE;       
}

.mobile-nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001; 
  display: none; 
}

.mobile-nav-header {
  height: 50px;
  width: 100%;
  background-color: var(--bg-dark-secondary); 
  padding: 8px 12px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.mobile-nav-header .mobile-nav-icon {
  color: var(--text-light);
  cursor: pointer;
}

.mobile-nav-title {
  margin-left: 20px;
  color: var(--accent-color); 
  font-weight: bold;
  text-transform: capitalize;
  vertical-align: middle;
  font-size: 20px;
}

.mobile-nav-menu .nav-items {
  height: auto;
  width: 100%; 
  background-color: var(--bg-dark-secondary); 
  padding: 10px;
  padding-bottom: 20px;
}

.mobile-nav-menu .nav-link a {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  text-decoration: none;
  color: var(--text-light);
  transition: all 0.3s ease;
  font-size: 1.1rem;
}

.mobile-nav-menu .nav-link svg {
  margin-right: 15px;
  font-size: 22px;
}

.mobile-nav-menu .nav-link a:hover {
  color: var(--accent-color);
  background-color: rgba(0, 173, 181, 0.1);
}

.mobile-nav-menu .nav-link a.active {
  color: var(--accent-color);
  border-left: 4px solid var(--accent-color);
  padding-left: 11px; /* 15px - 4px */
}


@media (max-width: 992px) {
  .mobile-nav {
    display: block;
  }
}
