:root {
    --bg-dark-primary: #222831; 	
    --bg-dark-secondary: #393e46; 
    --accent-color: #00ADB5; 	 	
    --text-light: #EEEEEE; 	 	 
}

.home-container {
    margin: 0; 	
    max-width: none; 	
    width: 100%;
    
    padding-top: 60px; 
    padding-bottom: 60px;
    
    min-height: 300px; 
    display: flex;
    align-items: center; 
    
    color: var(--text-light);
}

#dark.home-container {
    background-color: var(--bg-dark-primary);
}

.home-content {
    padding-left: 50px; 
}

.home-content h2 {
    padding: 5px;
    padding-top: 0;
    font-size: 1.5rem;
    font-weight: 300;
}

.home-content h1 {
    color: var(--accent-color);
    padding: 5px;
    font-size: 4rem; 
    font-weight: bold;
}

.home-buttons {
    margin-top: 30px; 
    display: flex;
    gap: 20px;
}

.home-buttons a {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px; 
    font-weight: 600;
    transition: all 0.5s ease;
    border: 1px solid transparent;
}

.home-buttons .btn-hire {
    background-color: var(--accent-color); 
    color: var(--bg-dark-secondary); 
    border-color: var(--accent-color);
    width: 150px;
}

.home-buttons .btn-hire:hover {
    background-color: transparent;
    color: var(--accent-color); 
    border-color: var(--accent-color);
    width: 170px;
    box-shadow: 0 0 10px var(--accent-color);
}

.home-buttons .btn-cv {
    background-color: var(--bg-dark-secondary);
    color: var(--text-light);
    margin-left: 0; 
    border-color: var(--bg-dark-secondary);
}

.home-buttons .btn-cv:hover {
    background-color: transparent;
    border-color: var(--accent-color);
    color: var(--accent-color);
    opacity: 100%;
}

.theme-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: var(--bg-dark-secondary);
    margin-top: 20px;
    text-align: center;
    position: fixed;
    right: 0;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;
    color: var(--text-light); 
}

@media (max-width: 600px) {
    .home-container {
        padding-top: 40px;
        padding-bottom: 40px;
        width: 100%; 
        margin: 0;
    }

    .home-content h2 {
        padding-top: 50px;
        font-size: 1.2rem;
    }

    .home-content h1 {
        font-size: 2.5rem; 
    }

    .home-buttons {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start; 
    }
    
    .home-buttons a {
        width: 100%;
        max-width: 200px; 
        text-align: center;
    }
}