:root {
    --bg-dark-primary: #222831; 	
    --bg-dark-secondary: #393e46; 
    --accent-color: #00ADB5; 	 	
    --text-light: #EEEEEE; 	 	 
}


.sidebar-section {
    display: flex;
    background-color: var(--bg-dark-primary); 
}

.sidebar {
    height: 100vh;
    background-color: var(--bg-dark-secondary); 
    width: 90px;
    position: fixed;
    color: var(--text-light); 
    transition: width 0.3s ease-in-out; 
    z-index: 1000; 
}

.sidebar-toggle {
    width: 200px;
}

.sidebar-toggle-icons {
    display: flex;
    justify-content: flex-end; 
    padding: 15px 10px 0 0; 
    cursor: pointer;
}

.sidebar-toggle-icons p svg {
    background-color: var(--accent-color); 
    color: var(--bg-dark-secondary); 
    border-radius: 50%; 
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 173, 181, 0.5); 
    transition: all 0.2s ease-in-out;
}

.sidebar-toggle-icons p svg:hover {
    filter: brightness(1.2); 
    transform: scale(1.05);
}

@media (max-width: 600px) {
    .sidebar {
        display: none; 
    }
}